<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
<main>
    <div class="container-xl">
        <h2>Create New Project</h2>
        <form>
            <div>
                <label class="form-label">Project Name</label>
                <input class="form-control" type="text">
            </div>
            <div>
                <label class="form-label">Project Code</label>
                <input class="form-control" type="text">
            </div>

            <div>
                <label>From</label>
                <input class="form-control" type="date"/>
            </div>

            <div>
                <label>To</label>
                <input class="form-control" type="date"/>
            </div>

            <div>
                <label>PM</label>
                <select class="form-select">
                    <option>Huy</option>
                </select>
            </div>

            <div>
                <label>PM</label>
                <select class="form-select">
                    <option>Huy</option>
                </select>
            </div>

            <div>
                <label>QA</label>
                <select class="form-select">
                    <option>Huy</option>
                </select>
            </div>

            <div>
                <label>Technical Lead</label>
                <select class="form-select">
                    <option>Huy</option>
                </select>
            </div>

            <div>
                <label>BA</label>
                <select class="form-select">
                    <option>Huy</option>
                </select>
            </div>

            <div>
                <label>Developers</label>
                <select class="form-select">
                    <option>Huy</option>
                </select>
            </div>

            <div>
                <label>Testers</label>
                <select class="form-select">
                    <option>Huy</option>
                </select>
            </div>

            <div>
                <label>Technical Consultancy</label>
                <select class="form-select">
                    <option>Huy</option>
                </select>
            </div>

            <div>
                <button class="btn btn-primary">Create</button>
            </div>

        </form>
    </div>>
</main>
</body>

</html>